/* Slider styling */
input[type="range"] {
  -webkit-appearance: none; /* Remove default styling */
  width: 200px;
  height: 5px;
  background: black; /* Slider track color */
  border-radius: 5px;
  outline: none;
}

/* Styling for the slider thumb */
input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none; /* Remove default styling */
  appearance: none;
  width: 15px;
  height: 15px;
  background: black; /* Slider thumb color */
  border-radius: 50%; /* Make it circular */
  cursor: pointer;
}

input[type="range"]::-moz-range-thumb {
  width: 15px;
  height: 15px;
  background: black; /* Slider thumb color */
  border: none;
  border-radius: 50%; /* Make it circular */
  cursor: pointer;
}

input[type="range"]::-ms-thumb {
  width: 15px;
  height: 15px;
  background: black; /* Slider thumb color */
  border: none;
  border-radius: 50%; /* Make it circular */
  cursor: pointer;
}
